<!DOCTYPE html>
<html>
    <head>
        <title>Alquini WEB</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
        {LIBRARIES}
        {HEAD}
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">{EMPRESA}</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                     <ul class="nav navbar-nav">
                         <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-user"></i>
                                <span class="hidden-xs">{username}</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header" style="height:initial;">
                                    <i class="fa fa-user fa-3x" style="color:white"></i>
                                    <p>
                                        {username}
                                    </p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a generator="adianti" href="index.php?class=SystemProfileView" class="btn btn-default btn-flat">Perfil</a>
                                    </div>
                                    <div class="pull-left">
                                        <a generator="adianti" href="index.php?class=LoginForm&method=reloadPermissions&static=1" class="btn btn-default btn-flat">Recarregar</a>
                                    </div>
                                    <div class="pull-right">
                                        <a generator="adianti" href="index.php?class=LoginForm&method=onLogout&static=1" class="btn btn-default btn-flat">Sair</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown notifications-menu" id="support">
                            <a href="https://cliente.alquini.com.br/submitticket.php?step=2&deptid=1" target="_blank">
                                <i class="fa fa-life-ring fa-fw"></i>
                            </a>
                        </li>
                        {MENU}                      
                     </ul>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div id="adianti_div_content" class="content"></div>
            <div id="adianti_online_content"></div>
            <div id="adianti_online_content2"></div>
            <div id="pageboth"><br></div>
        </div>
        
        <footer id="footer">
            <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="container text-center">
                    <div class="footer-logo">
                        <a href="http://web.alquini.com.br" target="_blank"><img src="app/templates/{template}/images/Logo.png" alt="logo" height="50"></a>
                    </div>
                    <div class="social-icons">
                        <ul>
                            <li><a class="envelope" href="mailto:contato@alquini.com.br" target="_blank"><i class="fa fa-envelope"></i></a></li>
                            <li><a class="skype" href="skype:jaderalquini?chat" target="_blank"><i class="fa fa-skype"></i></a></li> 
                            <li><a class="google-plus" href="https://plus.google.com/+J%C3%A1derAlexandreAlquini" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            <li><a class="facebook" href="http://fb.com/alquiniweb"><i class="fa fa-facebook" target="_blank"></i></a></li>
                            <li><a class="linkedin" href="http://www.linkedin.com/in/jáder-alexandre-alquini-77b0397a" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a class="whatsapp" href="intent://send/554792294433#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="text-center">
                            <p>Copyright &copy; 2017 <a href="http://web.alquini.com.br">AlquiniWEB</a>. Todos os Direitos Reservados</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
