<!DOCTYPE html>
<html>
    <head>
        <title>Alquini WEB</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
        {LIBRARIES}
    </head>
    <body>   
        <div class="container">     
            <div class="alert alert-warning" role="alert">
                <strong>Manutenção!</strong> O sistema encontra-se em manutenção. Por favor tente novamente dentro de alguns instantes.
            </div>
        </div>
    </body>
</html>
